body {
    padding: 1rem;
    height: 100vh;
    max-height: 100vh;
}

#root {
    height: 100vh;
    max-height: 100vh;
}

main {
    height: 100vh;
    max-height: 100vh;
}

/*#column-images {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*#container-images {*/
/*    display: flex;*/
/*}*/

#container-images figure {
    /*margin: 0;*/
    /*border: 1px dashed orangered;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}

#column-textarea textarea {
    height: 100%;
}