//$uv-red: #e3007b;
//$uv-blue: #00a8ec;

main { padding: 1rem; }

@media screen and (min-width: 1280px) {
  header { position: absolute; }
}

textarea {
  font-family: Consolas, Hack, "Ubuntu Mono", "SF Mono", monospace;
}

.tab {
  justify-content: flex-end;
  margin-top: 0;

  .tab-item a {
    width: 7rem;
    text-align: center;
  }
}

.images-grid .column {
  padding-top: .4rem;
  padding-bottom: .4rem;
}

img.clickable:hover {
  box-shadow: 0 0 .1rem .1rem #5755d9;
}

#log, #result {
  margin-top: .55rem;
}

#log {
  height: 30rem;
}

#cameras {
  width: 100%;

  textarea {
    height: 14rem;
  }
}

.modal {
  .modal-container {
    min-height: 90vh;
    max-width: 90vw;
  }
  .modal-body {
    flex: 1;
    display: flex;
  }
  .toast-error {
    white-space: pre;
  }
}