//$uv-red: #e3007b;
//$uv-blue: #00a8ec;

main {
  padding: 1rem;
}

header {
  position: absolute;
}

.tab {
  justify-content: flex-end;
  margin-top: 0;

  .tab-item a {
    width: 10rem;
    text-align: center;
  }
}

img.clickable:hover {
  box-shadow: 0 0 .1rem .1rem #5755d9;
}


#settings-modal {
  .modal-container {
    min-height: 90vh;
    max-width: 90vw;
  }
  .modal-body {
    flex: 1;
    display: flex;
  }
}